<?xml version="1.0" encoding="utf-8"?>

<phpunit bootstrap="./vendor/autoload.php" 
         colors="true" 
         displayDetailsOnTestsThatTriggerDeprecations="true">

  <source>
    <include>
      <directory>./src</directory>
    </include>
    <exclude>
      <directory>./tests</directory>
      <directory>./vendor</directory>
    </exclude>
  </source>

  <php>
    <ini name="error_reporting" value="-1"/>
  </php>

  <testsuites>
    <testsuite name="Yii Auth client tests">
      <directory>./tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
